<div class="cf f-wrapper {{wrapperClasses}}">
	<label class="f-label" for="{{id}}"><span class="bold">{{title}}</span><br><span class="js-field-change-indicator"></span></label>
	<textarea id="{{id}}"
			  class="f-field js-flexfield {{classes}}"
		{{#if placeholder}}placeholder="{{placeholder}}" {{/if}}{{#if spellcheckDisable}}spellcheck="false"{{/if}}>{{text}}</textarea>
</div>
